@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&family=Syne+Mono&display=swap");

#root,
body,
html {
  height: 100%;
  background-color: black;
}

.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button,
h2 {
  font-family: "Syne Mono", monospace !important;
  font-size: calc(0.1rem + 12w) !important;
}

h1 {
  color: white;
  font-size: calc(3rem + 5vw) !important;
  font-family: "Irish Grover";
  margin: auto !important;
}

h2 {
  color: white;
  margin: auto;
  text-align: center;
}
